{% extends "base.html" %}
{% block content %}
    <div class="siz">
        <form method="post" action="{{url_for('Courses.addcourse')}}" enctype="multipart/form-data">
             <div class="form-group">
                <label for="name">Course Title</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="enter course name">
            </div>
            <div class="form-group">
                <label for="Description">Description</label>
                <input type="text" class="form-control" id="Description" name="Description" placeholder="enter ur description">
            </div>
            <div class="form-group">
                <label for="file">leave image</label>
                <input type="file" id="file" name="file" accept="image/*" placeholder="leave a image">
            </div>
            <div class="form-group">
                <label for="period">period</label>
                <input type="text" class="form-control" id="period" name="period" placeholder="enter period">
            </div>

            <div class="form-group">
                 <label for="Domain">Domain</label>
                  <select class="form-control" id="Domain" name="Domain">
                      {% for dom in domain %}
                         <option>{{dom.name}}</option>
                    {% endfor %}
                  </select>
            </div>
            <div class="form-group">
                <label for="link">link</label>
                <input type="text" class="form-control" id="link" name="link" placeholder="enter link address">
            </div>

            <button type="submit" class="btn btn-success">ADD</button>
        </form>
        <br>
            {% if error %}
        <div class="alert alert-danger">
            <strong>Oops!!</strong> {{error}}.
        </div>
        {% endif %}
    </div>
{% endblock %}