{% extends "base.html" %}
{% block content %}

    <br>

        {% set f = [0] %}
        {% if course %}
        {% for c in course %}
                {% if c.course_id == cor._id %}
                     {% set _ = f.pop() %}
                     {% set _ = f.append(1) %}

                {% endif %}

        {% endfor %}
        {% endif %}
        {% set fog = f[0] %}
        <table style="width:100%; background:rgba(0,0,0,.5);">
        <tr>
            <td><br></td>
            <td><br></td>
        </tr>
        <tr>

            <td><img src="/static/assests/{{cor.img}}" width="300px" height="200px"></td>
            <td style="width:850px;">
                <div style="background:white; padding-left:10px;">
                    <h3>{{cor.title}}<br>Description:<h4>
                        {{cor.description}}</h4><i>Hours:{{cor.period}}<br><br>
                        Teacher:{{cor.teacher}}</i>


                    {% if fog == 0 %}

                            <center><a href="{{url_for('users.needverify', course_id=cor._id)}} ">
                                <button style="background:#009999;border-radius:40%;width:50px;height:30px;color:white;">
                                    Join
                                </button>

                            </a></center>
                        {% endif %}
                    {% if fog == 1 %}
                        <center><h4>enrolled</h4></center>
                    {% endif %}

                        <br></h3>
                    {% if session['email'] in config.ADMINS %}
                        <a href="{{url_for('Courses.editCourse',cour = cor._id)}}"><button type="submit" class="btn btn-warning">Edit course</button></a>
                        <a href="{{url_for('Courses.deleteCourse',cour = cor._id,domain= cor.domain)}}"><button type="submit" class="btn btn-danger">delete</button></a>
                        {% endif %}
                    <br>
                </div>
            </td>

        </tr>
        <tr>
            <td><br></td>
            <td><br></td>
        </tr>


    </table>

<center><h3 style="color: #1e13c1"><i>Related Courses</i></h3></center>
<br>
    {% for dat in data %}

        {% set fla = [0] %}
        {% if course %}
        {% for cor in course %}
                {% if dat._id == cor.course_id %}
                     {% set _ = fla.pop() %}
                     {% set _ = fla.append(1) %}

                {% endif %}

        {% endfor %}
        {% endif %}
        {% set flag = fla[0] %}

    {% if not dat._id == cor._id %}
    <table style="width:100%; background:rgba(0,0,0,.5);">
        <tr>
            <td><br></td>
            <td><br></td>
        </tr>
        <tr>

            <td><img src="/static/assests/{{dat.img}}" width="300px" height="200px"></td>
            <td style="width:850px;">
                <div style="background:white; padding-left:10px;">
                    <h3>{{dat.title}}<br>Description:<h4>
                        {{dat.description}}</h4><i>Hours:{{dat.period}}<br><br>
                        Teacher:{{dat.teacher}}</i>


                    {% if flag == 0 %}

                            <center><a href="{{url_for('users.needverify', course_id=dat._id)}} ">
                                <button style="background:#009999;border-radius:40%;width:50px;height:30px;color:white;">
                                    Join
                                </button>

                            </a></center>
                        {% endif %}
                    {% if flag == 1 %}
                        <center><h4>enrolled</h4></center>
                    {% endif %}

                        <br></h3>
                    {% if session['email'] in config.ADMINS %}
                        <a href="{{url_for('Courses.editCourse',cour = dat._id)}}"><button type="submit" class="btn btn-warning">Edit course</button></a>
                        <a href="{{url_for('Courses.deleteCourse',cour = dat._id,domain= dat.domain)}}"><button type="submit" class="btn btn-danger">delete</button></a>
                        {% endif %}
                    <br>
                </div>
            </td>

        </tr>
        <tr>
            <td><br></td>
            <td><br></td>
        </tr>


    </table>
    {% endif %}
    {% endfor %}
</div>

{% endblock %}