{% extends "base.html" %}
{% block content %}
    <center>
   <div style="width:100%; height:60%; background:black;">

       <img src="/static/assests/home.png" >
    <br>

       <h1 style="color: #1e13c1">ComputerEra</h1>
        </div>
<br><br>
       <h2 style="color: #1b4f72">We aim at quality learning exclusively for the young developers and researchist in computer technology</h2></center>
   <br>

    <div class="jumbotron">
        <h1>Computer courses</h1>
        <h3 style="color: #1e13c1">Welcome U Have Successfully logged in!!! </h3>
       <i> <h3>we provide u best learning experience</h3>

        <h3>if u have signed in or logged in then continue to join courses</h3>
       </i>
    </div>
{% endblock %}