{% extends "base.html" %}
{% block content %}
    <div class="siz">
        <form method="post" action="{{url_for('Courses.editCourse', cour = cour._id)}}" enctype="multipart/form-data">
             <div class="form-group">
                <label for="name">Course Title</label>
                <input type="text" class="form-control" id="name" name="name" value="{{cour.title}}">
            </div>
            <div class="form-group">
                <label for="Description">Description</label>
                <input type="text" class="form-control" id="Description" name="Description" value="{{cour.description}}">

            </div>
             <div class="form-group">
                <label for="file">leave image</label>
                <input type="file" id="file" name="file" accept="image/*" placeholder="leave a image">
            </div>
            <div class="form-group">
                <label for="teacher">teacher name</label>
                <input type="text" class="form-control" id="teacher" name="teacher" value="{{cour.teacher}}">
            </div>
            <div class="form-group">
                <label for="period">period</label>
                <input type="text" class="form-control" id="period" name="period" value="{{cour.period}}">
            </div>

            <div class="form-group">
                 <label for="Domain">Domain</label>
                  <select class="form-control" id="Domain" name="Domain">
                      <option selected="selected">{{cour.domain}}</option>
                      {% for dom in domain %}
                    <option>{{dom.name}}</option>

                      {% endfor %}
                  </select>
            </div>
            <div class="form-group">
                <label for="link">link</label>
                <input type="text" class="form-control" id="link" name="link" value="{{cour.link}}">
            </div>

            <button type="submit" class="btn btn-success">edit</button>
        </form>
        <br>
        {% if error %}
        <div class="alert alert-danger">
            <strong>Oops!!</strong> {{error}}.
        </div>
        {% endif %}
    </div>
{% endblock %}