{% extends "base.html" %}
{% block content %}
<CENTER>

        <h1>{{dom.name}}</h1>
</CENTER>
<br>
<div>

    <div style="width:100%; height:60%; background:black;">
        <center>
            <img class="image1 wow pulse" src="/static/assests/{{dom.img}}">
        </center>
    </div>
    <table style="width:100%; margin-top:-20px;">
        <tr>
            <td colspan="2" style="width:100%; background:#f8f9f9;">
                <h2 style="color:black;" class="wow pulse"><br>{{dom.content}}<br>
                    <br>
                    <CENTER style="color:blue;" class="wow slideInRight">Productive Learning Experience!!! <br><br><h6><a
                            href="{{url_for('profiles.topcourse')}}">HOME</a>||<a href="{{url_for('Courses.index')}} ">ABOUT</a></h6></CENTER>
                         {% if session['email'] in config.ADMINS %}
                    <a href="{{url_for('Domains.editDomain',domain_id = dom._id)}}"><button type="submit" class="btn btn-warning">Edit Domain</button></a>
                         {% endif %}
                </h2>
            </td>
        </tr>
    </table>
    <br>
    {% for dat in data %}

        {% set fla = [0] %}
        {% if course %}
        {% for cor in course %}
                {% if dat._id == cor.course_id %}
                     {% set _ = fla.pop() %}
                     {% set _ = fla.append(1) %}

                {% endif %}

        {% endfor %}
        {% endif %}
        {% set flag = fla[0] %}


    <table style="width:100%; background:rgba(0,0,0,.5);">
        <tr>
            <td><br></td>
            <td><br></td>
        </tr>
        <tr class="wow rotateInUpRight">

            <td><img src="/static/assests/{{dat.img}}" class="imgi" width="300px" height="200px"></td>
            <td style="width:850px;">
                <div style="background:white; padding-left:10px;">
                    <h3>{{dat.title}}<br>Description:<h4>
                        {{dat.description}}</h4><i>Hours:{{dat.period}}<br><br>
                        Teacher:{{dat.teacher}}</i>


                    {% if flag == 0 %}

                            <center><a href="{{url_for('users.needverify', course_id=dat._id)}} ">
                                <button style="background:#009999;border-radius:40%;width:50px;height:30px;color:white;">
                                    Join
                                </button>

                            </a></center>
                        {% endif %}
                    {% if flag == 1 %}
                        <center><h4>enrolled</h4></center>
                    {% endif %}

                        <br></h3>
                    {% if session['email'] in config.ADMINS %}
                        <a href="{{url_for('Courses.editCourse',cour = dat._id)}}"><button type="submit" class="btn btn-warning">Edit course</button></a>
                        <a href="{{url_for('Courses.deleteCourse',cour = dat._id,domain= dat.domain)}}"><button type="submit" class="btn btn-danger">delete</button></a>
                        {% endif %}
                    <br>
                </div>
            </td>

        </tr>
        <tr>
            <td><br></td>
            <td><br></td>
        </tr>


    </table>
    {% endfor %}
</div>



{% endblock %}