{% extends "base.html" %}
{% block content %}
<center><h1>Courses enrolled</h1></center>
<br>
{% for dat in data %}
    <div class="page-header">
        <h1>Course <small>'{{dat.title}}'</small></h1>

    </div>

    <table style="width:100%; background:rgba(0,0,0,.5);">
        <tr>
            <td><br></td>
            <td><br></td>
        </tr>
        <tr>

            <td><img src="/static/assests/{{dat.img}}" width="300px" height="200px"></td>
            <td style="width:850px;">
                <div style="background:white; padding-left:10px;">
                    <h3>{{dat.title}}<br><i><br>
                        Teacher:{{dat.teacher}}</i>
                       </h3>
                </div>
            </td>

        </tr>
        <tr>
            <td><br></td>
            <td><br></td>
        </tr>


    </table>

    <div class="panel panel-default">
        <div class="panel-body">
            <a class="btn btn-default" href="{{url_for('Courses.coursepage',course_id = dat.course_id)}}" role="button">visit course</a>

        </div>
    </div>

{% endfor %}

{% endblock %}