{% extends "base.html" %}
{% block content %}
{% if key %}
{% for k in key %}

        {% set fla = [0] %}
        {% if course %}
        {% for cor in course %}
                {% if k._id == cor.course_id %}
                     {% set _ = fla.pop() %}
                     {% set _ = fla.append(1) %}

                {% endif %}

        {% endfor %}
        {% endif %}
        {% set flag = fla[0] %}


    <table style="width:100%; background:rgba(0,0,0,.5);">
        <tr>
            <td><br></td>
            <td><br></td>
        </tr>
        <tr>

            <td><img src="/static/assests/{{k.img}}" class="imgi" width="300px" height="200px"></td>
            <td style="width:850px;">
                <div style="background:white; padding-left:10px;">
                    <h3>{{k.title}}<br>Description:<h4>
                        {{k.description}}</h4><i>Hours:{{k.period}}<br><br>
                        Teacher:{{k.teacher}}</i>


                    {% if flag == 0 %}

                            <center><a href="{{url_for('users.needverify', course_id=k._id)}} ">
                                <button style="background:#009999;border-radius:40%;width:50px;height:30px;color:white;">
                                    Join
                                </button>

                            </a></center>
                        {% endif %}
                    {% if flag == 1 %}
                        <center><h4>enrolled</h4></center>
                    {% endif %}

                        <br></h3>
                    {% if session['email'] in config.ADMINS %}
                        <a href="{{url_for('Courses.editCourse',cour = k._id)}}"><button type="submit" class="btn btn-warning">Edit course</button></a>
                        <a href="{{url_for('Courses.deleteCourse',cour = k._id,domain= k.domain)}}"><button type="submit" class="btn btn-danger">delete</button></a>
                        {% endif %}
                    <br>
                </div>
            </td>

        </tr>
        <tr>
            <td><br></td>
            <td><br></td>
        </tr>


    </table>


    {% endfor %}

{%else%}
    <div class="alert alert-danger">
  <strong>Oops!!</strong> The search was unsuccessfull !! NO MATCHES FOUND.
</div>
{% endif %}
{% endblock %}