<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include "html_dependencies.html" %}
</head>
<body><div class="siz">

        <form method="post" action="{{url_for('users.test',cour_id=cour_id)}}" >
             <div class="form-group">
                <label for="name">TEST Title</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="enter course name">
            </div>

            {% for i in range(5) %}

            <div class="form-group">
                <label for="Description1">Question</label>
                {{i+1}}
                {% set m = "Q"+ i|string %}
                {% set c = "A"+ i|string %}

                <input type="text" class="form-control" id="Description1" name="{{m}}" placeholder="enter ur description">

            </div>
            <div class="form-group">
                <label for="Description6">Answer</label>
                <input type="text" class="form-control" id="Description6" name="{{c}}" placeholder="enter ur description">
            </div>

            <div class="form-group">
                <label>choice</label>
                {% set x = "Q"+ i|string+"C1" %}
                {% set y = "Q"+ i|string+"C2" %}
                {% set z = "Q"+ i|string+"C3" %}
                <input type="text" class="form-control" id="Description2" name="{{x}}" placeholder="choices">
                <input type="text" class="form-control" id="Description3" name="{{y}}" placeholder="choices">
                <input type="text" class="form-control" id="Description4" name="{{z}}" placeholder="choices">

            </div>
            {% endfor %}
            <input type="submit" class="btn btn-warning">
                 {% if error == "answer did not exists in choice" or error=="fill all the fields" %}
        <div class="alert alert-danger">
            <strong>Oops!!</strong> {{error}}.
        </div>
        {% endif %}


</form>
</div>
</body></html>