{% extends "base.html" %}
{% block content %}
    <div class="siz">
        <form method="post" action="{{url_for('Domains.addDomain')}}" enctype="multipart/form-data">
             <div class="form-group">
                <label for="name">Domain</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="enter domain name">
            </div>
            <div class="form-group">
                <label for="content">content</label>
                <input type="text" class="form-control" id="content" name="content" placeholder="enter ur email">
            </div>
            <div class="form-group">
                <label for="file">leave image</label>
                <input type="file" id="file" name="file" accept="image/*" placeholder="leave a image">
            </div>


            <button type="submit" class="btn btn-success">ADD</button>
        </form>
        <br>
        {% if error %}
        <div class="alert alert-danger">
            <strong>Oops!!</strong> {{error}}.
        </div>
        {% endif %}
    </div>
{% endblock %}