<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">-->
    <title>Course registration</title>

    {% include "html_dependencies.html" %}
    <script>
        <!--function callPy() {-->
            <!--$.ajax({-->
                <!--type: "POST",-->
                <!--url: "/users/register",-->
                <!--success:function(response) {-->
                <!--$('#result').html('<p>' + response + '</p>');-->
            <!--}-->
            <!--});-->

            <!--function addImage() {-->
                <!--callPy();}}-->
                <!---->

            new WOW().init();


    </script>
</head>
<body>


<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>


            <a style="padding-top:8px" class="navbar-brand" href="/"><img height="32px" src="/static/assests/log.png"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Course Domain
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <ul>

                            {% for dom in domain %}

                            <li><a class="dropdown-item" href="{{url_for('Courses.course',domain=dom.name)}}">{{dom.name}}</a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </li>


                {% if session['email'] in config.ADMINS %}
                <li><a href="{{url_for('Domains.addDomain')}}">ADD Domain</a></li>
                <li><a href="{{url_for('Courses.addcourse')}}">ADD Course</a></li>
                <li><a href="{{url_for('users.register_teacher')}}">ADD TUTOR</a></li>
                {% endif %}

            </ul>

            {% if session['email'] %}
            <ul class="nav navbar-nav navbar-right">
                {% if session['name'] %}
                <li><a href="{{url_for('users.teacherprofile')}}"><span class="glyphicon glyphicon-alert"></span>
                    tutor profile</a></li>
                {% endif %}
                <li><a href="{{url_for('profiles.mycourses')}}"><span class="glyphicon glyphicon-alert"></span> My
                    Courses</a></li>
                <li><a href="{{url_for('users.logout_user')}}"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                </li>

            </ul>
            {% else %}
            <ul class="nav navbar-nav navbar-right">

                <li><a href="{{url_for('users.login_teacher')}}"><span class="glyphicon glyphicon-log-in"></span> tutor login</a></li>
                <li><a href="{{url_for('users.register_user')}}"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
                </li>
                <li><a href="{{url_for('users.login_user')}}"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                </li>

            </ul>
            {% endif %}
        </div>
    </div>
</nav>

<center>
    <form method="post" class="form-inline md-form mr-auto mb-4" action="{{url_for('Courses.searching')}}">

        <input class="form-control mr-sm-2" type="text" placeholder="Search" name="search" id="search"
               aria-label="Search">
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
</center>
<br>
<br>
<h1 id="result"></h1>
<div class="container">
    {% block content %}

    {% endblock %}

</div>
<br>
<br>
<div style="background:black; height:200px;" class="wow lightSpeedIn">
    <footer>
        <center>
            <br>
        <h3><p>owned by:Computer Era Corporation </p></h3>
 <h3> <p>Contact information: <a href="mailto:austinraj1998@gmail.com">
     computerera@google.com</a>.</p></h3>
            <h3><p>phone:9988776678.</p></h3>
        </center>
</footer>
</div>
<script>
 $(".imgi").mouseover(function(event) {
                    $(this).addClass("animated zoomIn");

                });
 $(".imgi").on("webkitAnimationEnd mozAnimationEnd oAnimationEnd animationEnd", function(event) {
    $(this).removeClass("animated zoomIn");
                });
</script>
</body>
</html>
