<html>
<head><title>user</title>
{% include "html_dependencies.html" %}
</head>
<body>
<center>
<h1>
    persons enrolled
</h1>
    <br>

<table width="60%" class="table table-striped">

    <th>Email</th>


{% for find in user %}
<tr>

    <td>{{find.email}}</td>
</tr>
</table>
{% endfor %}
</center>
</body>
</html>