<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include "html_dependencies.html" %}
</head>
<body>
<h1>EDIT</h1>
<br>
<div class="siz">

        <form method="post" action="{{url_for('users.edittest',cour_id=cour_id,title = title)}}" >
             <div class="form-group">
                <label for="name">TEST Title</label>
                <input type="text" class="form-control" id="name" name="name" value={{title}} placeholder="enter course name">
            </div>

            {% for i in b %}

            <div class="form-group">
                <label for="Description1">Question</label>

                {% set m = "Q"+ i._id %}
                {% set c = "A"+ i._id %}

                <input type="text" class="form-control" id="Description1" name="{{m}}" value="{{i.Question}}"  placeholder="enter ur description">

            </div>
            <div class="form-group">
                <label for="Description6">Answer</label>
                <input type="text" class="form-control" id="Description6" name="{{c}}" value="{{i.Answer}}" placeholder="enter ur description">
            </div>

            <div class="form-group">
                <label>choice</label>
                {% set x = "Q"+ i._id +"C1" %}
                {% set y = "Q"+ i._id +"C2" %}
                {% set z = "Q"+ i._id +"C3" %}
                {% set v = "id"+ i._id %}
                <input type="text" class="form-control" id="Description2" name="{{x}}"  value="{{i.choice1}}" placeholder="choices">
                <input type="text" class="form-control" id="Description3" name="{{y}}" value="{{i.choice2}}" placeholder="choices">
                <input type="text" class="form-control" id="Description4" name="{{z}}" value="{{i.choice3}}" placeholder="choices">
                <input type="hidden" class="form-control" id="Description9" name="{{v}}" value="{{i._id}}" placeholder="choices">

            </div>
            {% endfor %}
            <input type="submit" class="btn btn-warning">
                 {% if error == "answer did not exists in choice" or error=="fill all the fields" %}
        <div class="alert alert-danger">
            <strong>Oops!!</strong> {{error}}.
        </div>
        {% endif %}


</form>
</div>

</body></html>