{% extends "base.html" %}
{% block content %}
<div class="jumbo">
    <div class="container">

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="siz">
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="/static/assests/to.jpeg" width="100%" alt="Los Angeles">
                    </div>

                    <div class="item">
                        <img src="/static/assests/pexels.jpeg" width="100%" alt="Chicago">
                    </div>

                    <div class="item">
                        <img src="/static/assests/po.jpeg" width="100%" alt="New York">
                    </div>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>
    </div>
</div>
<br>
<br>
<div style="background:rgba(0,0,0,.5);width: 100%;" class="anima"><br><p><center><h2>This is a website to provide the beginners in computer technology to register and  maintain their courses effectively and learn productively</h2></center> </p><br></div>
<br><center><h1 class="wow bounce">New Arrivals!</h1></center><br>
<br>
<div style="background:rgba(0,1,0.2,0.5.02);width: 100%;box-shadow: 3px 3px grey;">
<br>
<table>

    {% set ro = [-1] %}

<tr>
    {% for i in top %}
    {% set s = ro[0] %}
    {% set _ = ro.pop() %}
    {% set _ = ro.append(s+1) %}
    {% set row = ro[0]%}
    {% if row % 3 == 0 %}
    </tr><tr>

    {% endif %}

<td><a href="{{url_for('Courses.select',domain=i.domain,cor_id=i._id)}}"> <div  class="card wow zoomInRight" style="width: 25rem;box-shadow: 3px 3px grey;">
  <img class="card-img-top" src="/static/assests/{{i.img}}" alt="Card image cap" width="250px" height="200px">
  <div class="card-body" >
      <h3 class="card-text"><center>{{i.title}}</center></h3>

  </div></div><br></a></td>


{% endfor %}
</tr>
</table>
<br>
</div>
<br>
<script>

 $(".card-img-top").mouseover(function(event) {
                    $(this).addClass("animated zoomIn");
                    $(".card-text").addClass("animated lightSpeedIn");
                });
 $(".card-img-top").on("webkitAnimationEnd mozAnimationEnd oAnimationEnd animationEnd", function(event) {
    $(this).removeClass("animated zoomIn");
                });
                $(".anima").mouseover(function(event) {
                    $(this).addClass("animated zoomIn");
                    $(".card-text").addClass("animated lightSpeedIn");
                });
</script>

{% endblock %}