<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include "html_dependencies.html" %}
</head>
<body>
<center>
<h1>
    List of tests
</h1>
</center>
{% for find in find_test %}
<div class="panel panel-default">
        <div class="panel-body">

            <h3>{{find}}</h3>
            <a class="btn btn-primary" href="{{url_for('users.edittest',cour_id = cour_id,title = find)}}" role="button">edit</a>

        </div>
    </div>
<br>

{% endfor %}


</body>
</html>