<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include "html_dependencies.html" %}
</head>
<body>
<center>
    <div style="background:black;height:200px;">
        <br>
        <br>
        <br>
        <center>
        <img src="/static/assests/log.png">
        </center></div>
    <br>
    <a href="{{url_for('users.selfprofile')}}" target="main"><button type="button" class="btn btn-secondary btn-lg btn-block">Profile</button></a>

<hr>
    <a href="{{url_for('users.teacherprofile2')}}" target="main"><button type="button" class="btn btn-primary btn-lg btn-block">courses</button></a>
    <hr>
    <a href="{{url_for('users.homepage')}}" target="_top"><button type="button" class="btn btn-secondary btn-lg btn-block">Home</button></a>
</center>

</body>
</html>