{% extends "base.html" %}
{% block content %}
<div style="background-color:black; width:1200px;">
    <div>
<center>

    <br><br>
    <iframe width="1000" height="400" src="https://www.youtube.com/embed/{{link}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</center>
        </div>
    <br>
    <br>
</div>
<br>

{% for find in find_test %}
<div class="panel panel-default">
        <div class="panel-body">

            <h3>{{find}}</h3>
            <a class="btn btn-default" href="{{url_for('Courses.onlinetest',course_id = course_id,title = find)}}" role="button">attempt</a>

        </div>
    </div>
{% endfor %}

{% endblock %}