{% extends "base.html" %}
{% block content %}
    <div class="jumbo">
        <div class="container">

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="siz">
            <div class="carousel-inner">
                <div class="item active">
                    <img src="/static/assests/to.jpeg" width="100%" alt="Los Angeles">
                </div>

                <div class="item">
                    <img src="/static/assests/spr.jpeg" width="100%" alt="Chicago">
                </div>

                <div class="item">
                    <img src="/static/assests/po.jpeg" width="100%" alt="New York">
                </div>
            </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        </div>
    </div>

{% endblock %}