<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include "html_dependencies.html" %}
</head>
<body>
<center>
    <br>
    <div style="background:black;height:200px;width:800px;">
    <br>
    <img src="/static/assests/home.png" width="20%" >
    <br>
    <br>
    </div>
    <br>
    <div class="panel panel-default">
        <div class="panel-body">
    <h3>Name:   {{res.name}}</h3>
<br>
    <h3>email:  {{res.email}}</h3>
<br>
    <h3>domain: {{res.domain}}</h3>
<br>
 </div></div>
</center>


</body>
</html>