{% extends "base.html" %}
{% block content %}
    <div class="siz">
        <form method="post" action="{{url_for('profiles.addfile')}}" enctype="multipart/form-data">


            <div class="form-group">
                <label for="file">leave image</label>
                <input type="file" id="file" name="file" accept=".text/csv" placeholder="leave a image">
            </div>


            <button type="submit" class="btn btn-success">ADD</button>
        </form>
        <br>
        {% if error %}
        <div class="alert alert-danger">
            <strong>Oops!!</strong> {{error}}.
        </div>
        {% endif %}
    </div>
{% endblock %}