{% extends "base.html" %}
{% block content %}
    <div class="siz">
        <form method="post" action="{{url_for('users.login_user')}}">
            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="enter ur email">
            </div>
            {% if error == "enter the email" %}
        <div class="alert alert-danger">
            <strong>Oops!!</strong> {{error}}.
        </div>
        {% endif %}
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="enter ur password">
            </div>
            {% if error == "enter the password" %}
        <div class="alert alert-danger">
            <strong>Oops!!</strong> {{error}}.
        </div>
        {% endif %}
            <button type="submit" class="btn btn-success">Login</button>
            <br>
            {% if error == "please enter the correct credentiality user doesn't exists" or error=="check ur password" %}
        <div class="alert alert-danger">
            <strong>Oops!!</strong> {{error}}.
        </div>
        {% endif %}

        </form>
    </div>
{% endblock %}