{% extends "base.html" %}
{% block content %}
<center>

    {% if error %}
     <div class="alert alert-danger">
    <h3>{{error}}</h3>
     </div>
{% endif %}

<h1>{{title}}</h1>
</center>
<form action="{{url_for('Courses.onlinetest', course_id = course_id , title = title)}}" method="post">
<div class="container-fluid">
{% set i = [1] %}
    {% for cour in course %}


    <h4> {{i[0]}}. {{cour.Question}} </h4>
    <br>
    <h4><input type="radio" name="{{cour._id}}" value="{{cour.choice1}}">{{cour.choice1}}</h4>
    <br>
    <h4><input type="radio" name="{{cour._id}}" value="{{cour.choice2}}">{{cour.choice2}}</h4>
    <br>
    <h4><input type="radio" name="{{cour._id}}" value="{{cour.choice3}}">{{cour.choice3}}</h4>
    <br>
    {% set k = i[0]+1 %}
    {% set _ = i.pop() %}
    {% set _ = i.append(k) %}
    {% endfor %}
    <br>

</div>
        <input type="submit" class="btn btn-success" value="submit">

</form>
{% endblock %}