{% extends "base.html" %}
{% block content %}
    <div class="siz">
        <form method="post" action="{{url_for('users.needverify',course_id = course_id )}}">


            <div class="form-group">
                <label for="password"> confirm Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="enter ur password">
            </div>
            <button type="submit" class="btn btn-success">submit</button>
                {% if error %}
        <div class="alert alert-danger">
            <strong>Oops!!</strong> {{error}}.
        </div>
            {% endif %}
        </form>
    </div>
{% endblock %}