{% extends "base.html" %}
{% block content %}
<div class="siz">
    <form method="post" action="{{url_for('users.register_user')}}">
        <div class="form-group">
            <label for="name">User Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="enter ur name">
        </div>
        {% if error == "enter the username" %}
        <div class="alert alert-danger">
            <strong>Oops!!</strong> {{error}}.
        </div>
        {% endif %}

        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="enter ur email">
        </div>
        {% if error=="Invalid email" or error=="Error:User Already Exists" %}
        <div class="alert alert-danger">
            <strong>Oops!!</strong> {{error}}.
        </div>
        {% endif %}
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="enter ur password">
        </div>
        {% if error == "enter the password" %}
        <div class="alert alert-danger">
            <strong>Oops!!</strong> {{error}}.
        </div>
        {% endif %}
        <button type="submit" class="btn btn-success">Register</button>
    </form>
    <br>
    <label>if u already have an account </label>
    <a href="{{url_for('users.login_user')}}">login</a>
</div>
{% endblock %}