{% extends "base.html" %}
{% block content %}
 <div class="siz">
        <form method="post" action="{{url_for('users.register_teacher')}}">
            <div class="form-group">
            <label for="name">User Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="enter ur name">
        </div>
        {% if error == "enter the username" %}
        <div class="alert alert-danger">
            <strong>Oops!!</strong> {{error}}.
        </div>
        {% endif %}
            <div class="form-group">
            <label for="name">Domain</label>
                <select class="form-control" id="Domain" name="Domain">

                      {% for dom in domain %}
                    <option>{{dom.name}}</option>

                      {% endfor %}
                  </select>

        </div>
            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="enter ur email">
            </div>
            {% if error == "enter the email" %}
        <div class="alert alert-danger">
            <strong>Oops!!</strong> {{error}}.
        </div>
        {% endif %}
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="enter ur password">
            </div>
            {% if error == "enter the password" %}
        <div class="alert alert-danger">
            <strong>Oops!!</strong> {{error}}.
        </div>
        {% endif %}
            <button type="submit" class="btn btn-success">To register</button>
            <br>
            {% if error == "please enter the correct credentiality user doesn't exists" or error=="check ur password" %}
        <div class="alert alert-danger">
            <strong>Oops!!</strong> {{error}}.
        </div>
        {% endif %}

        </form>
    </div>







{% endblock %}