<html>
<head>
    {% include "html_dependencies.html" %}
</head>
<body>
<center><h1>Courses added</h1>
<br>
<a href="{{url_for('Courses.addcourse')}}" target="_top"><button class="btn-primary">+ ADD Course</button></a>
{% for dat in data %}
    <div class="page-header">
        <h1>Course <small>'{{dat.title}}'</small></h1>

    </div>

    <table style="width:80%; background:rgba(0,0,0,.5);">
        <tr>
            <td><br></td>
            <td><br></td>
        </tr>
        <tr>

            <td><img src="/static/assests/{{dat.img}}" width="300px" height="200px"></td>
            <td style="width:850px;">
                <div style="background:white; padding-left:10px;">
                    <h3>{{dat.title}}<br><i><br>
                        Teacher:{{dat.teacher}}</i>
                       </h3>
                </div>
            </td>

        </tr>
        <tr>
            <td><br></td>
            <td><br></td>
        </tr>


    </table>
       {% set m = 0 %}
        {% set p =[0] %}
    {% for use in user %}

       {% if use.course_id == dat._id %}
         {% set m = m+1 %}
         {% set _ = p.pop() %}
         {% set _ = p.append(m) %}


       {% endif %}


    {% endfor %}

      <div class="panel panel-default">
        <div class="panel-body">
            <a class="btn btn-primary" href="{{url_for('Courses.editCourse',cour = dat._id)}}" target="_top" role="button">edit</a>
             <a class="btn btn-warning" href="{{url_for('users.test',cour_id = dat._id)}}"  role="button">add test</a>
            <a class="btn btn-success" href="{{url_for('users.listoftest',cour_id = dat._id)}}"  role="button">visit test</a>
             <a class="btn btn-success" href="{{url_for('Courses.coursepage',course_id = dat._id)}}" target="_top" role="button">visit course</a>
            <a href="{{url_for('Courses.viewuser',course_id = dat._id)}}"><h4>enrolled:{{p[0]}} person</h4></a>
        </div>
      </div>





{% endfor %}
</center>
</body>
</html>