body
{
  background:white;

 font-family: lato !important;
}

.course
{
		 width :100%;
	 height :100%;
	 background:white;
	 color:#fff;
     left:50%;


	 box-sizing: border-box;
	 padding : 70px 30px;

	 box-shadow: 3px 3px 7px 5px rgba(0,0,0,0.3);
}
.heading
{
	#background-color:#00ffff;
	height:75px;
	width:100%;
	padding-top:5px;
	margin-top:-10px;
	color:black;



}
a{
	color:#2e86c1;
}

a:hover{
	text-decoration:none;
	color:#1b4f72;
	-webkit-animation: shake 1s;
    animation: shake 1s;
	}

.questo:hover {
    -webkit-animation: shake 1s;
    animation: shake 1s;
}
.image
{
	width:100%;
	height:50%;
	padding-top:0px;

}
.image1
{   margin-top:3%;
	width:60%;
	height:80%;
	padding-top:0px;

}
td
{
	padding-left:60px;
	padding-right:70px;
	padding-top:10px;
}
.map td
{
	padding-left:50px;
	padding-right:70px;
	padding-top:10px;
}

.tab
{
	background:#f8f9f9;
	color:white;
	padding-top:0px;
	width:100%;
}
.map
{
	background:black;
	color:white;
	padding-top:0px;

	width:100%;
}

h2
{
	color:white;
	font-family: "times new roman",times,serif;
}

p
{
	color:white;
	font-family: "times new roman",times, serif;
}
.ii
{
	background:rgba(0,0,0,.5);

}
h1
{
color:black;
}
